
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --ey-yellow: #FFC72C;
  --black: #000000;
  --gray: #A7A8AA;
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
}
